.userLayout {
  width: 1000px;
  display: flex;
  position: relative;
  margin: 0 auto;
  border-top: var(--theme-border);
  background-color: var(--theme-bg4);
  color: var(--theme-text);
  z-index: 100;

  .content {
    border-left: var(--theme-border);
    width: calc(100% - 240px);
    position: relative;
    z-index: 100;
  }
}

.bg {
  height: 240px;
  margin-top: 60px;
  background-image: url('/assets/images/userbg.png');
  background-repeat: no-repeat;
}
