.agreementLayout {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background: var(--theme-bg);
  color: var(--theme-text);
  position: relative;
}

.content {
  padding: 30px;
  overflow: auto;
  max-width: 1200px;
  flex: 1;
}

.bg {
  height: 240px;
  margin-top: 60px;
  background-image: url('/assets/images/userbg.png');
  background-repeat: no-repeat;
}
