.bg {
  height: 240px;
  margin-top: 60px;
  background-image: url('/assets/images/userbg.png');
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  h2 {
    font-weight: bolder;
    margin-bottom: 20px;
    font-size: 38px;
  }
}
