.result {
  position: relative;
  margin-bottom: 20px;
  border-radius: 4px;
}

.times {
  text-align: center;
  font-size: 30px;
  padding-bottom: 10px;
}

.btns {
  display: flex;
  justify-content: center;
  a {
    margin-bottom: 20px;
  }
}

.content {
  padding: 20px;
  width: 100%;
}
