.btns {
  margin: 20px 0 20px 0;
  display: flex;
  justify-content: space-between;
  button {
    width: calc(50% - 10px);
  }
}

.enable {
  pointer-events: initial !important;
  opacity: 1 !important;
}
