.forms {
  font-size: 14px;
}

.formSpaceItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.captcha {
  height: 30px;
  position: relative;
  top: 12px;
  cursor: pointer;
}
