.form {
  margin-top: 20px;

  .code {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    :global {
      .semi-form-field {
        width: calc(100% - 110px);
      }
    }
  }
  .submit {
    margin-bottom: 30px;
  }
}
